# Virtual environment
.venv/

#DATA
exp_alu_steel_1_ellip_dam/

#results
generated_test_masks/
predictions/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db